<h1>Cayman</h1>

<div class="accounts">
  <div class="account" data-ng-repeat="account in accounts">
    <input type="text" class="account-name" placeholder="Name" data-ng-model="account.name" disabled>
    <input type="text" class="account-number" placeholder="Number ####" data-ng-model="account.number" disabled>
    <input type="text" class="account-bank" placeholder="Bank" data-ng-model="account.bank" disabled>
    <input type="text" class="account-currency" placeholder="?" data-ng-model="account.currency" disabled>
  </div>
  <div class="account new-account">
    <input type="text" class="account-name" placeholder="New account">
    <input type="text" class="account-number" placeholder="Number ####">
    <input type="text" class="account-bank" placeholder="Bank">
    <input type="text" class="account-currency" placeholder="?">
  </div>
</div>
