<div ng-controller="MainCtrl">
  <h1>Cayman</h1>

  <div class="accounts">
    <h3>{{accounts.length}} account(s)</h3>
    <ul>
      <li ng-repeat="account in accounts">
        {{account.name}}&nbsp;<button ng-click="removeAccount($index);">X</a>
      </li>
      <li>
        <form name="newAccountForm">
          <input placeholder="New account name..." name="newAccountInput" type="text" ng-model="newAccountName" required>&nbsp;
          <button ng-disabled="newAccountForm.newAccountInput.$error.required" ng-click="addAccount(newAccountName);">+</button>
        </form>
      </li>
    </ul>

  </div>

  <div class="budgets">
    <h3>{{budgets.length}} budget(s)</h3>
    <ul class="budgets">
      <li ng-repeat="budget in budgets">
        {{budget.name}}&nbsp;<button ng-click="removeBudget($index);">X</button>
      </li>
      <li>
        <form name="newBudgetForm">
          <input placeholder= "New budget name..." name="newBudgetInput" type="text" ng-model="newBudgetName" required>
          <button ng-disabled="newBudgetForm.newBudgetInput.$error.required" ng-click="addBudget(newBudgetName)">+</button>
        </form>
      </li>
    </ul>
  </div>
</div>
